.bg{
    background-image: url("../../../../assets/ExpectBg/1555495807.BestSportsSummerCampInIndia-Kidsstoppress-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    
}